#grid-container {
  height: 300px;
  width: 300px;
  background-color: rgb(34, 187, 187);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.tile[content="1"] {
  margin: 15px;   
  background-image: url(../assets/xoAsset1.png);
  background-size: cover;    
 
}

.tile[content="-1"] {
  margin: 15px;
  background-image: url(../assets/xoAsset2.png);
  background-size: cover;    
}